:root {
  --primary-color: #097392;
  --secondary-color: #fff0ce;
  --tertiary-color: #83b4b3;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--secondary-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-title {
  font-size: 48px;
  color: var(--primary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

header {
  padding: 20px 35px !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  background-color: var(--primary-color) !important;
  background: linear-gradient(rgba(9, 115, 146, 0.7), #024e76) !important;
}

header h1 a {
  font-weight: bold !important;
  font-size: 32px !important;
  color: var(--tertiary-color) !important;
  margin: 0 !important;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

header a {
  text-decoration: none !important;
  color: var(--tertiary-color) !important;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 20px; 
  font-weight: lighter;
  font-size: 1.25vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

nav li {
  cursor: pointer;
}

.hero-style {
  padding: 100px 50px;
  background-image: url("./assets/jumbotron.img");
  background-size: cover;
  background-position: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex start;
}

.hero-style h2 {
  margin-left: auto;
  color: var(--secondary-color);
  font-style: italic;
}

.about-section {
  padding: 30px;
}

.about-text {
  text-align: center;
  padding-bottom: 50px;
  font-size: 20px;
  width: 50%;
  right: 25%;
  margin-left: auto;
  margin-right: auto;
}


/* This creates space amongst the pictures and adds flex */
.about div {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.images {
  display: flex;
  justify-content: center;
}

.photo {
  padding: 30px;
  min-height: 150px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.images .photo {
  animation: slide-right 3s;
  vertical-align: middle;
}

.contact-container {
  background-color: var(--tertiary-color) !important;
  margin-bottom: 10% !important;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.project {
  border: thick double var(--tertiary-color);
}

.projectImage:hover{
  -webkit-filter: blur(3px); /* Chrome, Safari, Opera */
  filter: blur(3px);
  transition-duration: 1s;
}

.portfolioText{
  text-align: center;
  padding-bottom: 50px;
  font-size: 20px;
  width: 50%;
  right: 25%;
  margin-left: auto;
  margin-right: auto;
}



.footer {
  width: 100%;
  padding: 30px 10px;
  border-radius: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(rgba(9, 115, 146, 0.9),#024e76);
}

.footer ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: scroll;
  height: 2.5rem;
  width: 100vw;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

.footer li {
  text-align: center;
  display: inline;
  transition: border 500ms;
}

.footer li:not(:last-child) {
  margin-right: 10vw;
}

@media (max-width:360px) {
  header nav ul li a {
    font-size:25px !important;
  }
}

@media (max-width:1380px) {
  .footer li:not(:last-child) {
      margin-right: 5vw;
  }
}

@media (max-width:850px) {
  .footer li:not(:last-child) {
      margin-right: 20px;
  }
}

.footer li a {
  transition: color 500ms;
  text-decoration: none;
}

footer a {
  color: var(--secondary-color);
}

footer a:hover {
  color: var(--secondary-color);
}

footer a:hover {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

/* Try display block for media querie  */